In [2]:
pip install selenium

Requirement already satisfied: selenium in c:\users\wafae\anaconda3\lib\site-packages (4.17.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\wafae\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\wafae\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\wafae\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\wafae\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\wafae\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\wafae\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\wafae\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\wafae\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\wafae\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\wafae\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\wafae\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\wafae\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\wafae\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\wafae\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\wafae\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [17]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

Amswer 1

In [63]:
# 1.Fetch the webpage 

driver = webdriver.Chrome()
driver.get("https://www.shine.com/")

# 2.Enter the data analyst in the job title field, and Bangalore in the location field

search = driver.find_element(By.XPATH, "/html/body/div/header/div[3]/div/div/div[1]/div/input")
search.click()

time.sleep(30)

close = driver.find_element(By.CLASS_NAME, "btn-close ")
close.click()

designation = driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys("Data Analyst")

location = driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')


searchjobs = driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
searchjobs.click()


job_title = []
location = []
company_name = []
experience_name = []

title = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/h2/a')
for i in title[0:10]:
    job_title.append(i.text)

loc = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/div[3]/div[2]')
for a in loc[0:10]:
    location.append(a.text)

company = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/div[2]/span')
for c in company[0:10]:
    company_name.append(c.text)
    

experience = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/div[3]/div[1]')
for d in experience[0:10]:
    experience_name.append(d.text)
    
df = pd.DataFrame({'title': job_title, 'location': location, 'company_name': company_name, 'experience_required': experience_name})
df

,title,location,company_name,experience_required
0,Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
1,Vacancy For Data Analyst,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
2,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
3,Data Modeler data,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
4,Data Modeller,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
5,Data Analyst,Bangalore\n+9,v-tech data outsourcing,0 to 2 Yrs
6,Data Modeler Bangalore,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
7,Data Modeler,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
8,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs
9,Data Analyst Hiring Fresher and Experience,Bangalore\n+13,kavya interprises,0 to 4 Yrs

Answer 2

In [64]:
# 1.Fetch the webpage 

driver = webdriver.Chrome()
driver.get("https://www.shine.com/")

# 2.Enter the data analyst in the job title field, and Bangalore in the location field

search = driver.find_element(By.XPATH, "/html/body/div/header/div[3]/div/div/div[1]/div/input")
search.click()

time.sleep(30)

close = driver.find_element(By.CLASS_NAME, "btn-close ")
close.click()

designation = driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys("Data Scientist")

location = driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')


searchjobs = driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
searchjobs.click()


job_title = []
location = []
company_name = []


title = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/h2/a')
for i in title[0:10]:
    job_title.append(i.text)

loc = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/div[3]/div[2]')
for a in loc[0:10]:
    location.append(a.text)

company = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/div[2]/span')
for c in company[0:10]:
    company_name.append(c.text)
    

df = pd.DataFrame({'title': job_title, 'location': location, 'company_name': company_name})
df

,title,location,company_name
0,Data Scientist,Bangalore,ltimindtree limited
1,Lead Data Scientist/ Principal Data Scientist,Bangalore\n+1,fractal
2,Vacancy For Data Scientist Fresher and Experience,Bangalore\n+14,yogita staffing solution
3,Senior Data Scientist,Bangalore\n+1,neostats
4,Lead Data Scientist,Bangalore\n+1,aereo
5,Data Scientist,Bangalore\n+7,people staffing solutions
6,Data Scientist Urgent Vacancy,Bangalore\n+14,yogita staffing solution
7,Data Scientist,Bangalore\n+2,diraa hr services
8,Pharma Data Scientist,Bangalore\n+4,quiscon biotech
9,Hiring For Data Scientist,Bangalore\n+13,yogita staffing solution

Answer 3

In [82]:
# 1.Fetch the webpage 

driver = webdriver.Chrome()
driver.get("https://www.shine.com/")

# 2.Enter the data analyst in the job title field, and Bangalore in the location field

search = driver.find_element(By.XPATH, "/html/body/div/header/div[3]/div/div/div[1]/div/input")
search.click()

time.sleep(26)

close = driver.find_element(By.CLASS_NAME, "btn-close ")
close.click()

designation = driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys("Data Scientist")

location = driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Delhi-ncr')


searchjobs = driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
searchjobs.click()

time.sleep(18)

closead = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[1]/div/div/button")
closead.click()

time.sleep(3)

salary = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[3]/button")
salary.click()

time.sleep(6)

# select the correct check box
salaryfilter = driver.find_element(By.XPATH, "/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[1]/input")
salaryfilter.send_keys('3')

time.sleep(5)
salary = driver.find_element(By.XPATH, "/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[2]/span/input")
driver.execute_script("arguments[0].checked = true;", salary)


submit = driver.find_element(By.XPATH, "/html/body/div[3]/div/div/div/div[4]/button[2]")
submit.click()

time.sleep(5)

job_title = []
location = []
company_name = []


title = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/h2/a')
for i in title[0:10]:
    job_title.append(i.text)

loc = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/div[3]/div[2]')
for a in loc[0:10]:
    location.append(a.text)

company = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/div[2]/span')
for c in company[0:10]:
    company_name.append(c.text)
    

df = pd.DataFrame({'title': job_title, 'location': location, 'company_name': company_name})
df

,title,location,company_name
0,Senior Data Scientist,Delhi,roadzen
1,Data Scientist,Delhi,adept global
2,Data Scientist,Delhi,scrolltab
3,Immediate opening for Data Scientist- Delhi (H...,Delhi,htc global services
4,Data Scientist,Noida\n+1,info edge india ltd
5,Data Scientist at WinZO,Delhi,winzone technology pvt ltd
6,Data Scientist,Noida\n+1,reddoorz
7,Data Scientist II,Delhi,chegg inc.
8,Data Scientist,Noida\n+1,transaction network services
9,Senior Data Scientist,Delhi,chegg india

Answer 4

In [88]:
# 1.Fetch the webpage 

driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/")

# 2.Enter the data analyst in the job title field, and Bangalore in the location field

search = driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
search.send_keys('sunglasses')

search_button = driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button")
search_button.click()

brand = []
product = []
price = []
    
for page in range(0,3):
    
    brand_list = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in brand_list:
        brand.append(i.text)

    prod = driver.find_elements(By.XPATH, '//div[@class="_2B099V"]/a[1]')
    for a in prod:
        product.append(a.text)

    price_list = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for c in price_list:
        price.append(c.text)
        
    submit = driver.find_element(By.CLASS_NAME, "_1LKTO3")
    submit.click()
    
    time.sleep(4)


    

df = pd.DataFrame({'Brand': brand[0:100], 'Product description': product[0:100], 'Price': price[0:100]})
df

            Brand                                Product description Price
0          VOYAGE                UV Protection Round Sunglasses (52)  â‚¹698
1    hayden haiza         UV Protection Retro Square Sunglasses (58)  â‚¹225
2            SRPM             UV Protection Wayfarer Sunglasses (50)  â‚¹149
3       Elligator         UV Protection Retro Square Sunglasses (54)  â‚¹149
4        Fastrack             UV Protection Wayfarer Sunglasses (58)  â‚¹599
..            ...                                                ...   ...
95      Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  â‚¹149
96  VINCENT CHASE  by Lenskart UV Protection Retro Square Sunglas...  â‚¹549
97   hayden haiza   Polarized, UV Protection Aviator Sunglasses (55)  â‚¹415
98        pridaso  UV Protection Retro Square Sunglasses (Free Size)  â‚¹289
99      Rich Club         UV Protection Retro Square Sunglasses (54)  â‚¹487

[100 rows x 3 columns]

Answer 5

In [89]:

# 1.Fetch the webpage 

driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

# 2.Enter the data analyst in the job title field, and Bangalore in the location field


rating = []
summary = []
review = []
    
for page in range(0,10):
    
    rating_list = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_list:
        rating.append(i.text)

    summary_list = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
    for a in summary_list:
        summary.append(a.text)

    review_list = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]/div')
    for c in review_list:
        review.append(c.text)
        
    submit = driver.find_element(By.CLASS_NAME, "_1LKTO3")
    submit.click()
    
    time.sleep(4)


    

df = pd.DataFrame({'Rating': rating[0:100], 'Review summary': summary[0:100], 'Review': review[0:100]})
df

,Rating,Review summary,Review
0,5,Terrific,Very very good
1,5,Best in the market!,Good Camera
2,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
3,5,Worth every penny,Feeling awesome after getting the delivery of ...
4,5,Wonderful,This is amazing at all
...,...,...,...
95,5,Fabulous!,Itâ€™s very good battery life and display and vi...
96,5,Terrific purchase,Value for money ðŸ–¤ðŸ–¤
97,5,Must buy!,"Go for iPhone 11 , if confused between iPhone ..."
98,5,Super!,Good product ðŸ‘ŒI love iPhone
99,5,Simply awesome,Really satisfied with the Product I received.....

Answer 6

In [90]:
# 1.Fetch the webpage 

driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/")

# 2.Enter the data analyst in the job title field, and Bangalore in the location field

search = driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
search.send_keys('sneakers')

search_button = driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button")
search_button.click()

brand = []
product = []
price = []
    
for page in range(0,3):
    
    brand_list = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in brand_list:
        brand.append(i.text)

    prod = driver.find_elements(By.XPATH, '//div[@class="_2B099V"]/a[1]')
    for a in prod:
        product.append(a.text)

    price_list = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for c in price_list:
        price.append(c.text)
        
    submit = driver.find_element(By.CLASS_NAME, "_1LKTO3")
    submit.click()
    
    time.sleep(4)


    

df = pd.DataFrame({'Brand': brand[0:100], 'Product description': product[0:100], 'Price': price[0:100]})
df

           Brand                                Product description   Price
0   Robbie jones  Casual Sneakers Canvas High Top Boots For Boys...    â‚¹449
1   Robbie jones  Casual Sneakers Colour Blocked Shoes For Boys ...    â‚¹449
2       URBANBOX  Trending Stylish Casual Outdoor Sneakers Shoes...    â‚¹299
3      Deals4you                                 Sneakers For Women    â‚¹399
4       RED TAPE  Sneaker Casual Shoes For Men | Soft Cushion In...  â‚¹1,619
..           ...                                                ...     ...
95      RED TAPE  Sneaker Casual Shoes For Men | Soft Cushion In...  â‚¹2,069
96  Robbie jones                                   Sneakers For Men    â‚¹399
97        MEGPAR             Stylish Pink Casual Sneakers For Women    â‚¹449
98      RED TAPE  Casual Sneakers For Men | Comfortable, Shock A...  â‚¹1,709
99    Free Kicks  Combo Of 2 Shoes FK-436 & FK-Mcw145 Sneakers F...    â‚¹699

[100 rows x 3 columns]

Answer 7

In [94]:
# 1.Fetch the webpage 

driver = webdriver.Chrome()
driver.get("https://www.amazon.in/")

# 2.Enter the data analyst in the job title field, and Bangalore in the location field

search = driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search.send_keys('Laptop')

search_button = driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_button.click()

cpu_filter = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[19]/span/span[13]/li/span/a/div/label/input")
driver.execute_script("arguments[0].checked = true;", cpu_filter)

title = []
rating = []
price = []
    

    
title_list = driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_list:
    title.append(i.text)

rating_list = driver.find_elements(By.XPATH, '//div[@class="a-row a-size-small"]/span[1]')
for a in rating_list:
    rating.append(a.text)

price_list = driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for c in price_list:
    price.append(c.text)
        
    

df = pd.DataFrame({'Product title': title[0:10], 'Product rating': rating[0:10], 'Price': price[0:10]})
df

                                       Product title Product rating   Price
0  Laptop 15, 12th Gen i3-1215U, 15.6-inch (39.6 ...                 53,990
1  15 Laptop, Intel Core i5-1135G7 Processor/16GB...                 32,990
2  VivoBook 15 (2021), 15.6-inch (39.62 cm) HD, D...                 39,990
3  [Windows 11 Home] HP 255 G8 Notebook, 15.6'' H...                 36,990
4  Laptop 15s, 12th Gen Intel Core i3-1215U, 15.6...                 49,990
5  Dell G15 5520 Gaming Laptop, Intel i5-12500H/1...                 19,990
6  Laptop 15s, Intel Celeron, 15.6-inch (39.6 cm)...                 23,490
7  Modern 14, Intel 12th Gen. i7-1255U, 36CM FHD ...                 38,990
8  HeroBook Pro 14.1'' Laptop, 8GB RAM 256GB SSD,...                 67,990
9  Vivobook 14, Intel Core i3-1115G4 11th Gen, 14...                 38,990

Answer 8

In [97]:
# 1.Fetch the webpage 

driver = webdriver.Chrome()
driver.get("https://www.azquotes.com/")

# 2.Enter the data analyst in the job title field, and Bangalore in the location field

search = driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[1]/div/div[3]/ul/li[5]/a")
search.click()


quote = []
author = []
type_quote = []
    
for page in range(0,10):

    quote_list = driver.find_elements(By.XPATH, '//a[@class="title"]')
    for i in quote_list:
        quote.append(i.text)

    author_list = driver.find_elements(By.XPATH, '//div[@class="author"]/a')
    for a in author_list:
        author.append(a.text)

    type_list = driver.find_elements(By.XPATH, '//div[@class="tags"]')
    for c in type_list:
        type_quote.append(c.text)
        
    submit = driver.find_element(By.XPATH, '/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[12]/a')
    submit.click()
    
    time.sleep(4)    

df = pd.DataFrame({'Quote title': quote[0:1000], 'Author name': author[0:1000], 'Quote type': type_quote[0:1000]})
df

,Quote title,Author name,Quote type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

Answer 9

In [113]:
# 1.Fetch the webpage 

driver = webdriver.Chrome()
driver.get("https://www.jagranjosh.com/")

time.sleep(4)

# 2.Enter the data analyst in the job title field, and Bangalore in the location field
consent = driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div[1]/div[2]/div[2]/button[1]")
consent.click()

gk = driver.find_element(By.XPATH, "/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a")
gk.click()

time.sleep(5)

prime = driver.find_element(By.XPATH, "/html/body/div[1]/div[8]/section[5]/div[2]/ul/li[2]/article/h3/a")
prime.click()

#Due to the unexpected ads that must be removed, I manually saved driver with the url of the webpage with the prime ministers
driver = webdriver.Chrome()
driver.get("https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1")
time.sleep(5)
consent = driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div[1]/div[2]/div[2]/button[1]")
consent.click()

time.sleep(10)

#remove ads
ad = driver.find_element(By.XPATH, "/html/body/div[5]/div/div/div/div[1]/span")
ad.click()



name = []
born_dead = []
term_office = []
remarks = []
    

for i in range(2,20):   
    name_list = driver.find_elements(By.XPATH, '//*[@id="itemdiv"]/div[3]/div[5]/div/table/tbody/tr[i]/td[2]/div')
    bd_list = driver.find_elements(By.XPATH, '//*[@id="itemdiv"]/div[3]/div[5]/div/table/tbody/tr[i]/td[3]/div')
    term_list = driver.find_elements(By.XPATH, '//*[@id="itemdiv"]/div[3]/div[5]/div/table/tbody/tr[i]/td[4]/div')
    remarks_list = driver.find_elements(By.XPATH, '//*[@id="itemdiv"]/div[3]/div[5]/div/table/tbody/tr[i]/td[5]/div')

for a in name_list:
    name.append(i.text)

for b in bd_list:
    born_dead.append(a.text)

for c in term_list:
    term_office.append(c.text)
        
for d in remarks_list:
    remarks.append(d.text)
        

df = pd.DataFrame({'Name': name, 'Born Dead dates': born_dead, 'term office dates': term_office, 'Remarks': remarks})
df

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[5]/div/div/div/div[1]/span"}
  (Session info: chrome=121.0.6167.86); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF7614C5E42+3538674]
	(No symbol) [0x00007FF7610E4C02]
	(No symbol) [0x00007FF760F95AEB]
	(No symbol) [0x00007FF760FDBF4E]
	(No symbol) [0x00007FF760FDC0CC]
	(No symbol) [0x00007FF76101E477]
	(No symbol) [0x00007FF760FFF0EF]
	(No symbol) [0x00007FF76101BDE3]
	(No symbol) [0x00007FF760FFEE53]
	(No symbol) [0x00007FF760FCF514]
	(No symbol) [0x00007FF760FD0631]
	GetHandleVerifier [0x00007FF7614F6CAD+3738973]
	GetHandleVerifier [0x00007FF76154C506+4089270]
	GetHandleVerifier [0x00007FF761544823+4057299]
	GetHandleVerifier [0x00007FF761215C49+720121]
	(No symbol) [0x00007FF7610F126F]
	(No symbol) [0x00007FF7610EC304]
	(No symbol) [0x00007FF7610EC432]
	(No symbol) [0x00007FF7610DBD04]
	BaseThreadInitThunk [0x00007FFC8F35257D+29]
	RtlUserThreadStart [0x00007FFC90B2AA78+40]

Answer 10

In [124]:
# 1.Fetch the webpage 

driver = webdriver.Chrome()
driver.get("https://www.motor1.com/")

# 2.Enter the data analyst in the job title field, and Bangalore in the location field
time.sleep(7)

removead = driver.find_element(By.XPATH, "/html/body/div[15]/div[2]/div/div/div[2]/div/div/button")
removead.click()

time.sleep(3)

search = driver.find_element(By.XPATH, "/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input")
search.send_keys('50 most expensive cars')


submit = driver.find_element(By.XPATH, "/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
submit.click()

# The page reports the following: "The content you are looking for doesn't exist yet. To continue, try other site section.
#Sorry to disappoint you." Therefore, I will provide an example of how the code would look like

car_name = []
price = []

    
for page in range(0,3):

    car_list = driver.find_elements(By.XPATH, '//a[@class="carname"]')
    for i in car_list:
        car_name.append(i.text)

    price_list = driver.find_elements(By.XPATH, '//div[@class="price"]/a')
    for a in price_list:
        price.append(a.text)

    submit = driver.find_element(By.XPATH, '/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[12]/a')
    submit.click()
    
    time.sleep(4)    

df = pd.DataFrame({'Car name': car_name[0:50], 'price': price[0:50]})
df